<!DOCTYPE html>
<html>

<head>

<title>ITSO - Information Technology Student Organization</title>

<style type="text/css">


	body {
		background-color:   #333333;
		color:  #66ff99;
		text-shadow: 0 0 1px #118833, 0 0 1px #118833;
		font-family:  Consolas, monospace;
	} img#banner {
		width:  400px;
	} h1 {
		font-size:  2.5em;
		text-align: center;
	} a {
		color:  #ccffff;
	} .center {
		text-align: center;
	} .left {
		text-align: left;
	} .div.container {
		margin: 0px;
		padding: 0px;
	} div.body {
		display: inline-block;
		margin: 0px;
		padding: 5px;
		border-bottom:  10px solid #666666;
		vertical-align: top;
		padding: 10px;
	} .links {
		display: inline-block;
		margin: 0px;
		padding: 5px;
		border-bottom: 10px solid #666666;
		vertical-align: top;
		padding: 10px;
	} div.title {
		color:  #ffffff;
		height:  25px;
		background-image: url('./img/scanlines.png');
		margin: 0px;
		padding-top: 0px;
		margin-bottom:  10px;
	} .links {
		width:  250px;
	} .content {
		width:  600px;
	} .complete {
		text-decoration: line-through;
	} .icon {
		width:  64px;
		height: auto;
	} .header {
		background-image:  url('./img/logs.png');
		background-repeat:  no-repeat;
		background-position:  top;
	}

</style>

<script type="text/javascript">

</script>

</head>

<body>

<div class="center container header">

<h1 class="center">ITSO - Information Technology Student Organization</h1>

<img id="banner" src="./img/banner.png" />

<h2 class="center">Student advancement through common interests.</h2>

</div>

<div class="container center">
	<div class="links left">

		<div class="title">
			<h3>Events</h3>
		</div>
			<ul>
				<li><a href="./cac.html">Gaming</a></li>
				<li>Team Building</li>

			</ul>
			<div class="title">
				<h3>Projects</h3>
			</div>
				<ul>
					<li><a href="./random.html" target="_blank">ITSO Randomizer</a></li>
					<li><a href="https://jballe.it.pointpark.edu/voice/RSB.html" target="_blank">Voice Interaction</a></li>
					<li><a href="./rgb-ole.html" target="_blank">RGB to OLE Converter</a></li>
					<li>ITSO Game</a></li>
				</ul>
			<div class="title">
				<h3>Next Meeting</h3>
			</div>
				<ul>
					<li>Thursday, September 19th, 4:30 PM- 6:00 PM</li>
					<li>ITSO Site Redesign - Using Agile!</li>
					<li>West Penn 304</li>
					<br>
					<li>Tuesday, September 24th, 4:30 PM- 6:00 PM</li>
                                        <li>Intro to Cyber Security Awareness Month!</li>
                                        <li>West Penn 304</li>
				
				</ul>


		<div class="title">
			<h3>Member Pages</h3>
		</div>
			<p>Coming Soon</p>
			<!--ul>
				<li></li>
				<li></li>
			</ul-->
		<div class="title">
			<h3>Technologies</h3>
		</div>
			<a href="https://www.w3.org/TR/html5/" target="_blank"><img class="icon" src="./img/icons/html5.png" /></a>
			<a href="https://www.w3.org/standards/techs/css#w3c_all" target="_blank"><img class="icon" src="./img/icons/css3.png" /></a>
			<a href="https://nodejs.org" target="_blank"><img class="icon" src="./img/icons/node.png" /></a>
			<a href="https://www.raspberrypi.org/" target="_blank"><img class="icon" src="./img/icons/rpi.png" /></a>
			<a href="https://www.yoyogames.com/gamemaker" target="_blank"><img class="icon" src="./img/icons/gamemaker.png" /></a>
			<a href="https://unrealengine.com/" target="_blank"><img class="icon" src="./img/icons/unreal.png" /></a>
	</div>
	{{{body}}}
<img src="PPUAward.png">

</div>

<div class="container center">

	<p><br>Designed using raw code by students in the Information Technology Student Organization.</p>
	<p>Contact:  <a href="mailto:ITSO@pointpark.edu">ITSO@pointpark.edu</a>

</div>

</body>

</html>
