<div class="body content left">
		<div class="title"><h3>Awarded University's Best New Student Organization 2018!</h3></div>
		<p>The purpose of this organization is to provide support, development and promotion of Information Technology, Computer Science, Video Game Development, Competitive Video Gaming "eSports", Data Science,  and Information Security.<br><br>
			 We develop professional networks, to improve the career paths of ITSO members and all students on campus. All are welcome and our members range from a variety of majors at the school.

		<p><div>
			<center>
			<p>The Fall Semester Here!</p>

			<p>Follow us on Instagram @itso_ppu</p>
	</div></p>

	</div>